.footer {
    padding: 5rem calc((100% - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $white;
    background-color: $black;

    &-desc {
        padding: 0 2rem;

        & h1 {
            text-transform: uppercase;
            margin-bottom: 2rem;
            color: $red;
            font-size: 1.5rem;
        }

        & p {
            margin-bottom: 1rem;
        }
    }

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
    }

    &-title {
        font-size: 1rem;
        margin-bottom: 16px;
    }

    &-link {
        text-decoration: none;
        color: $white;
        opacity: 0.8;
        margin-bottom: .5rem;
        transition: all .3s ease-in-out;
    }

    &-link:hover {
        color: $red;
    }
}

#phone {
    font-weight: bold;
    font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 400px) {
    .footer-desc {
        padding: 1rem;
    }

    .footer-links {
        padding: 1rem;
    }
}